/* ALL THE BORDER PROPERTIES COMMENTED OUT WERE LEFT INTENTIONALLY FOR DEBUGGING PURPOSES (WHEN/IF) NECESSARY */


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
    margin: 5rem auto;
    width: 400px;
    height: 400px;
    background-color: white;
    /* border: 2px solid green; */
}

.screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 0.5rem;
}

.calc-buttons {
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    /* border: 2px solid yellow; */
}

.group {
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    /* border: 2px solid red; */
}

.function {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #df974c;
    color: white;
    width: 6.25rem;
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid black;
}


.normal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8d9db;
    width: 6.25rem;
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid black;
}

.normal:hover {
    background-color: #ebebeb;
}

.function:hover {
    background-color: #dfb07e;
}

.sixteen {
    width: 18.75rem;
}

.one {
    width: 12.5rem;
}

